/* primary-text-color: #757575;; 
title-text-color: #212121;
title-h1-color: #FFFFFF;
accent-color-background: #2196F3;
bcg-color-footer- 2F303A
:hover-color: #2196F3; */




/* header */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0%;
	z-index: 5;

	background-color: var(--title-h1-color);
	border-bottom: 1px solid #ececec;
}

.header-container {
	align-items: center;
	display: flex;
}

/* <!--Navigation--> */



.nav {
	display: flex;
	align-items: center;
}

/* <!-- Menu --> */

.nav-list {
	display: flex;
}

.nav-list__item {
	margin-right: 50px;
}

.nav-list__item:last-child {
	margin-right: 0;
}

.nav-list__link {
	text-decoration: none;
	position: relative;

	padding: 32px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.4;

	color: var(--title-text-color);
	transition: color var(--transition-timing) var(--transition-function);
}

.nav-list__link--current::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 4px;
	left: 0;
	bottom: -1px;

	border-radius: 2px;
	background-color: var(--accent-color-background);
}

/* .contacts-list */

.contacts-list {
	display: flex;
	margin-left: auto;
}

.contacts-list__item {
	margin-right: 50px;
}

.contacts-list__item:last-child {
	margin-right: 0;
}

.contacts-list__link {
	display: flex;
	align-items: center;
	padding: 32px 0;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	text-decoration: none;

	color: var(--primary-text-color);
	transition: color var(--transition-timing) var(--transition-function);
}

.contacts-list__icon {
	margin-right: 10px;
}

/* :hover and :focus  header*/
.nav-list__link:hover,
.nav-list__link:focus,
.contacts-list__link:hover,
.contacts-list__link:focus,
.footer-group-list__link:hover,
.footer-group-list__link:focus {
	color: var(--focus-hover-color);
}

/* MAIN */

/* section Hero*/
.hero {
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url("../img/hero/hero-img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1600px;
}

.hero-container {
	max-width: 1600px;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
	color: var(--title-h1-color);
}

.hero-title {
	margin-bottom: 30px;

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	color: #ffffff;
}


/* section-features */
.features {
	padding-top: 94px;
	background-color: var(--bcg-color-header);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.features-list-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;

	height: 120px;
	border-radius: 4px;
	background-color: var(--bgc-features-icon);
}

.features-list {
	display: flex;
}

.features-list__item {
	margin-right: 30px;
}

.features-list__item:last-child {
	margin-right: 0;
}

.features-list__title {
	margin-bottom: 10px;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;

	color: var(--title-text-color);
}

.features-list__text {
	line-height: 1.71;
	font-size: 14px;
	color: var(--primary-text-color);
}

/* <!--Speciality--> */
.special {
	padding-bottom: 94px;
}

.special__title {
	text-align: center;

	margin-bottom: 50px;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	color: var(--title-text-color);
}

.special-list {
	display: flex;
}

.special-list__item {
	position: relative;
	margin-right: 30px;
}

.special-list__item:last-child {
	margin-right: 0;
}

.special-decor-group {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
	background: rgba(47, 48, 58, 0.8);
}

/* <!--Our Team--> */
.team {
	background-color: var(--background-our-team);
}

.team__title {
	text-align: center;
	margin-bottom: 50px;

	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;

	color: var(--title-text-color);
}

.team-list {
	display: flex;
}

.team-list__item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: #ffffff;
}

.team-list__item {
	margin-right: 30px;
}

.team-list__item:last-child {
	margin-right: 0;
}

.person {
	border-top: 30px;
	padding: 30px 32px;
}


.person__name {
	text-align: center;
	margin-bottom: 10px;

	font-weight: 500;
	line-height: 1.2;

	color: var(--title-text-color);
}

.person__text {
	text-align: center;
	margin-bottom: 16px;

	line-height: 1.2;

	color: var(--primary-text-color);
}

/* <!--Client--> */
.client__title {
	margin-bottom: 50px;

	text-align: center;
	font-size: 36px;
	line-height: 1.4;
	letter-spacing: 0.03em;

	color: #212121;
}

.client-list {
	display: flex;
}

.client-list__item {
	width: 170px;
	height: 92px;
}

.client-list__item {
	margin-right: 30px;
}

.client-list__item:last-child {
	margin-right: 0;
}

.client-list__link {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;
	border-radius: 4px;

	color: var(--icon-primary-color);
	border: 1px solid var(--icon-primary-color);
	transition: color var(--transition-timing) var(--transition-function),
		border-color var(--transition-timing) var(--transition-function);
}

.client-list__link:hover,
.client-list__link:focus {
	color: var(--focus-hover-color);
	border-color: var(--focus-hover-color);
}



/* <!-- Footer Social --> */



/* Footer */

.footer {
	padding-top: 60px;
	padding-bottom: 60px;

	background-color: var(--bcg-color-footer);
}

.footer-container {
	display: flex;
	align-items: baseline;
}

.footer-group {
	margin-right: 70px;
}




.address {
	font-style: normal;

	margin-bottom: 9px;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	color: var(--title-h1-color);
}

.footer-group-list__item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-group-list__link {
	text-decoration: none;

	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;

	color: rgba(255, 255, 255, 0.6);
	transition: color var(--transition-timing) var(--transition-function);
}

/* Footer-form */
.footer-label {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;
}

.title-subscription {
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #ffffff;
}

.footer-label__input {
	width: 358px;
	height: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 16px;
	margin-right: 10px;

	outline: 0;
	color: #fff;
	background: #2f303a;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	transition: border var(--transition-timing) var(--transition-function);
}

.contact-form {
	display: flex;
}



.footer-label__input:hover,
.footer-label__input:focus {
	border-color: var(--accent-btn);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/* =======================================
/////////////portfolio////////////////////
======================================= */
/* <!--Gallery--> */


.gallery {
	padding: 94px 0px;
}

.btn-list {
	display: flex;
	justify-content: center;
	margin-bottom: 34px;
}

.btn-list__item {
	margin-right: 8px;
}

.btn-list__item:last-child {
	margin-right: 0;
}
/* <!--Portfolio--> */

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.portfolio-list__photo {
	max-width: 100%;
	height: auto;
}

.photo-thumb {
	position: relative;
	overflow: hidden;
}

.card-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.55;

	color: #fff;
	background-color: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform var(--transition-timing) var(--transition-function);
}

.portfolio-list__link:hover .card-overlay,
.portfolio-list__link:focus .card-overlay {
	transform: translateY(0);
}

.portfolio-list__link {
	transition: background var(--transition-timing) var(--transition-function),
		box-shadow var(--transition-timing) var(--transition-function);
}

.portfolio-list__link:hover,
.portfolio-list__link:focus {
	background: #ffffff;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.caption {
	padding: 20px 24px;

	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.portfolio-list__title {
	margin-bottom: 4px;

	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	color: var(--title-text-color);
}

.portfolio-list__text {
	line-height: 1.86;

	color: var(--primary-text-color);
}
